body {
    background: #000000;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}



// box-shadow: inset[insideshadow]  [1) x-val]  [2) y-val] [3)BlurRadius] [4)Spread] 

.wall {
    content: "";
    display: flex;
    position: absolute;
    margin: 80px;
    right: 345px;
    margin-top: 720px;
    width: 950px;
    height: 5px;
    border-radius: 1%;
    border: 1px #0f0002;
    background: #620009;
    justify-content: center;
    align-items: baseline;
    box-shadow: inset -2px 10px 30px 2px rgba(4, 0, 0, .2);
}

// #bea4a4 pretty dusty rose colour

.bothdesks {
    position: relative;
}


.top-left {

}
<div class="undershadows-desk top-right"></div>

<div class="undershadows-desk bottom-left"></div>
<div class="undershadows-desk bottom-right"></div>


/* Dry Side of the Room */

.container1 {
    display: flex;
    top: 50px;
    justify-content: center;
    position: relative;
}

.drydesk {
    display: flex;
    position: relative;
    width: 1450px;
    height: 250px;
    border-radius: 1%;
    border: 1px solid black;
    background: #620009;
    justify-content: center;
    align-items: baseline;
}

.drydesk::before {
    content: "";
    position: absolute;
    width: 1450px;
    height: 250px;
    border-radius: 1%;
    box-shadow: inset -2px 10px 30px 2px rgba(4, 0, 0, .2);
}

.drydesk::after {
    content: "";
    position: absolute;
    width: 1390px;
    height: 0px;
    background: none;
    margin-top: 250px;
    border-bottom: 20px solid rgb(71, 0, 0);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(180deg);
}

.drydesklegs {
    display: flex;
    position: absolute;
    width: 1005px;
    height: 0px;
    background: none;
    border-radius: 1%;
    border: 1px solid black;
    justify-content: center;
    align-items: baseline;
}

.drydesklegs::before {
    content: "";
    position: absolute;
    width: 1005px;
    height: 0px;
    background: none;
    top: 245px;
    border-radius: 1%;
    border-bottom: 160px solid rgb(53, 1, 1);
    border-left: 224px solid transparent;
    border-right: 224px solid transparent;
    z-index: -2;
    transform: rotate(180deg);
}

.drydesklegs-cutout {
    position: absolute;
    width: 505px;
    height: 0px;
    background: #0f0002;
    top: 245px;
    border-radius: 1%;
    border-bottom: 160px solid black;
    border-left: 224px solid transparent;
    border-right: 224px solid transparent;
    z-index: -1;
    transform: rotate(180deg);

}


/* Wet Side of the Room */

.container2 {
    display: flex;
    top: 650px;
    justify-content: center;
    position: relative;
}

.wetdesk {
    display: flex;
    position: relative;
    width: 1450px;
    height: 250px;
    border-radius: 1%;
    border: 1px solid black;
    background: #620009;
    justify-content: center;
    align-items: baseline;
}

.wetdesk::before {
    content: "";
    position: absolute;
    width: 1450px;
    height: 250px;
    border-radius: 1%;
    box-shadow: inset -2px 10px 30px 2px rgba(4, 0, 0, .2);
}

.wetdesk::after {
    content: "";
    position: absolute;
    width: 1390px;
    height: 0px;
    background: none;
    bottom: 248px;
    border-bottom: 20px solid rgb(71, 0, 0);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.wetdesklegs {
    display: flex;
    position: absolute;
    width: 1005px;
    height: 0px;
    border-radius: 1%;
    border: 1px solid black;
    background: none;
    justify-content: center;
    align-items: baseline;
}

.wetdesklegs::before {
    content: "";
    position: absolute;
    width: 1005px;
    height: 0px;
    background: none;
    bottom: 0px;
    border-radius: 1%;
    border-bottom: 160px solid rgb(53, 1, 1);
    border-left: 224px solid transparent;
    border-right: 224px solid transparent;
    z-index: -2;
}

.wetdesklegs-cutout {
    content: "";
    position: absolute;
    width: 505px;
    height: 0px;
    background: #0f0002;
    bottom: 0px;
    border-radius: 1%;
    border-bottom: 160px solid black;
    border-left: 224px solid transparent;
    border-right: 224px solid transparent;
    z-index: -1;
}















//the enlarger
.enlarger {}

// these are components for the enlarger
.metalpole {}

.lamphouse {}

// shapes: rectangle made into wavey line
.cording {}

// shapes: rectangles
.filterslots {}

// shapes: rectangles at different angles
.negatcarrier {}

// shapes: circle within circles
.lens {}

// shapes: rectangles 
/*  
.baseboard {
content: "";
position: absolute;
width: 1000px;
height: 0px;
background: none;
bottom: 250spx;
border-bottom: 250px solid rgb(189, 140, 140);
} 
*/


// Accesories both:
.tongs {}


// Accessories dry:

// shapes: circle within circles
.filmreels {}

// shapes: circle within circles
.filmtank {}


// Accessories wet:

// shapes: rectangles inside rectangles
.developingtray {}

.chem1-developer {}

// shapes: rectangle with circle lid
.chem2-stopbath {}

.chem3-fixer {}

.chem4-colprocessor {}


// shapes: circle rectangle handle and 2 mini triangles spout
.gradjug {}

/* .neatrectangle {
    content: "";
    position: absolute;
    width: 1000px;
    background: #ffffff;
    top: 10px;
    border-bottom: 250px solid rgb(71, 0, 0);
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    transform:rotate(180deg);
} */